/*globe*/
body{background:#f2f2f2;}

/*nav*/
.layui-header{height: 59px; border-bottom: 1px solid #404553;  background-color: #393D49;}
.logo img{height:55px;}
#navlist-right{float:right;}
.layui-nav .layui-nav-item a{padding:0 20px !important;}


/*carousel*/
.layui-carousel img{height:100%; width:100%;}


/*web instruction*/
#web-instruction{margin:20px auto; text-align:center;border-radius: 5px; padding: 10px 0; background: #fff;}
#web-instruction .iconfont{font-size:80px;}
#web-instruction figure{
	-webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
	}
#web-instruction figure figcaption{font-size:18px;}
#web-instruction figure p{font-size:14px; line-height:20px; color:rgba(109, 101, 101, 0.92);}
#web-instruction .icon-fabu{color:#11c3b8;}
#web-instruction .icon-zixun{color:#0196ed;}
#web-instruction .icon-women{color:#ff9222;}

/*result-re*/
#result-re{margin:30px auto;}
#result-re h2{font-size:23px;}
#result-re h2+a{float:right;color:#009688; line-height:23px; margin-top:-20px;}
#result-re>h2,a,hr{padding:0 !important;}
#result-re .figurefx{height:283px; margin-top:10px !important; overflow:hidden; position:relative;-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;}
#result-re .layui-bg-green{height:2px;}
#result-re .figure-img{width:100%; height:110%; position:absolute; top:0px; transition:0.2s all linear; z-index:1;}
#result-re .figure-img:hover{transform:matrix(1, 0, 0, 1, 0, 0); top:-10px;}
#result-re figcaption{width:100%; height:auto; background:#000; color:#fff; padding: 10px 20px; box-sizing:border-box; text-align:center; z-index:999; position:absolute; bottom:-100px; transition:0.2s all ease-in-out;}
#result-re .figurefx:hover figcaption{bottom:0;}

/*newslist*/
#newslist-wrap{height:380px; border:1px solid rgba(0, 0, 0, 0.11); padding:30px 49px; box-sizing:border-box; background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fbfbfb), to(rgba(251, 251, 251, 0.31)));}
#newslist-wrap h2{font-size:23px;}
#newslist-wrap h2+a{float:right;color:#ff5722; line-height:23px; margin-top:-20px;}
#newslist-wrap ul{margin:0 0 0 50px; height:270px;}
#newslist-wrap ul li{list-style-type:disc; width:50%; float:left; line-height:32px; position:relative;}
#newslist-wrap ul li .news-title{font-size:15px;width:230px;  margin-right:20px; transition:0.3s all linear;}
#newslist-wrap ul li .news-title:hover{color:000；}
#newslist-wrap ul li .layui-btn{right:40px !important; position:absolute;}

/*expert-lib*/
#expert-lib{margin-top:38px;}
#expert-lib h2{font-size:23px;}
#expert-lib h2+a{float:right;color:#01aaed; line-height:23px; margin-top:-20px;}
#expert-lib .layui-bg-blue{height:2px;}

/*list-card*/
.wrap{
  margin:50px auto 60px auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}  
.tile{
  height:280px;
  width:260px;
  background-color:#99aeff;
  margin:10px;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Microsoft YaHei',sans-serif;
}
.tile img{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text{
  z-index:99;
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h2{
  font-size:19px;
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h3{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover{
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img{
  opacity: 0.2;
}
.tile:hover .animate-text{
  transform:translateX(0);
  opacity:1;
}




/*footer*/
#footer{height:280px; background:#393D49; border-top:1px solid #404553; color:rgba(255,255,255,.7);  margin-top:20px;}
#footer-info{margin:0 auto; padding:40px 40px 0 40px;}
#footer-flink-content{text-align:center; padding:40px 40px 0 10px;}
#footer-content{text-align:center; padding-top:5px; margin-top:-10px; width:100%; height:48px; float:left; background:#424758; border-top:2px solid #4d515f;}
#footer-content p{display:block; line-height:23px;}
#footer .nav-item h2{color:#fff; font-size:15px;}
#footer .nav-item a{display:block; line-height:22px; margin-top:6px;}
#footer .footer-qrpic{display:block; text-align:center; line-height:140px;}
#footer .footer-qrpic img{height:120px;}
#footer .footer-icon{border-radius:2px; margin-bottom:30px;}
#footer #footer-flink-content .footer-icon img{height:48px;}
#footer a{color:rgba(255,255,255,.7);}










/*diliver*/

/*expert-lib*/
.layui-elem-field .flow-default img{width:100%;}






